.issues {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 100%;
    height: calc(100vh - 79px);

    padding: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 10px;

    border: 1px solid #ccc;
    overflow: hidden;
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;

    overflow-y: auto;
}

.button {
    align-self: flex-end;

    width: auto;
}